@import './smart-grid.less';
@import './_assets.less';

body {
  background: @bg-color;
  min-height: 100vh;
}

.wrapper {
  .wrapper();
  color: @whitish;
}

@media screen and (min-height: 850px) and (max-width: @break_md) {
  .wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}

.debug {
  .debug(rgba(256, 256, 256, 0.1), 1px dotted @whitish);
}
