@import './smart-grid.less';
@import './_assets.less';

.content {
  .row-flex();
  .md(flex-direction, column);
}

// LEFT SIDE
.leftSide {
  .col();
  .size(7);
  .size-xl(6);
  .size-md(12);
  .md(margin-top, 2rem);
  .xs(margin-top, 0);
  .xs(text-align, center);
  align-self: center;

  h1 {
    margin-bottom: 0.65rem;
    .lg(font-size, 2.5rem);
    .xs(margin-top, 2rem);
  }
  h2 {
    font-weight: normal;
    margin-bottom: 1.5rem;
  }
}

.links {
  a {
    color: @whitish;
    margin-right: 1rem;
    transition: all 0.2s;
    .hover();
  }

  a:last-child {
    margin-left: 0.125rem;
  }
}

.icon {
  font-size: 2rem;
}

// RIGHT SIDE
.rightSide {
  .col();
  .size(5);
  .size-xl(6);
  .size-md(12);
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .md(min-height, auto);
}

.aboutMe {
  h3 {
    .md(display, none);
    margin-bottom: 0.75rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  p {
    .md(align-self, center);
  }

  img {
    display: block;
    max-width: 150px;
    align-self: flex-start;
    margin-left: 0.5rem;
    border-radius: 50%;
    .md-block({margin-top: 0; margin-left: 0; margin-right: 1rem; order: -1;});
    .xs(display, none);
  }
}

.navbar {
  width: 100%;
  margin: 0 auto;
  .md(margin-top, 2rem);
}

.navItem {
  color: @whitish;
  display: block;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  .btn();
}

@media screen and (min-height: 850px) {
  .rightSide {
    justify-content: center;
  }
}
