@import './smart-grid.less';
@import './_assets.less';

.content {
  .row-flex();
  margin-bottom: 2rem;

  .title {
    margin: 2rem @offset_one_side 1rem @offset_one_side;
    display: flex;
    align-items: center;

    h1 {
      display: inline-block;
      margin: 0;
      .xs(font-size, 2.5rem);
    }

    .icon {
      font-size: 2rem;
      margin-right: 1rem;
    }

    .hover();
  }

  a {
    color: @whitish;
    text-decoration: none;
  }
}

li {
  margin: 0;
}

.projects {
  .col();
  .size(12);
  .size-md(11);
  .size-sm(12);
  margin: 1rem auto;
}

.project {
  .row-flex();
  align-items: center;
  list-style-type: none;
  padding: 0.75rem 0;
  transition: all 0.2s;
  .md(padding, 1rem 2rem);
  .sm(padding, 1rem 0);

  &__text {
    .col();
    .size(6);
    .size-md(12);
  }

  &__image {
    .col();
    .size(6);
    .size-md(12);
    .md(margin-top, 1rem);
  }

  &__title {
    margin-bottom: 1rem;
    .xs(font-size, 1.5rem);
  }

  &__shortDesc {
    margin-bottom: 0.5rem;
    font-style: italic;
  }

  .links > a {
    margin: 1rem 0.5rem 0.5rem 0;
    display: inline-block;
    width: 100px;
    padding: 0.25rem;
    .btn();
  }

  &:hover,
  &:focus {
    background: #730000;
    transition: all 0.2s;
  }
}
